# BEGIN APPSDK MANAGED
.appsdk-control/
.appsdk/sdk.bin
/active/lib/
/generated/
# END APPSDK MANAGED






/node_modules/
/playground/
**/node_modules/
/console-host/lib/
/opencode-adapter/lib/
/ui/teams-console/lib/
